body {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0;
    overflow: hidden;
    background-color: transparent;
}

#bodywrap {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0;
    overflow: hidden;
    background-image: url("./bckg.gif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 7px;
}

#windowBar {
    width: 100%;
    height: 4%;
    min-height: 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    background-color: white;
    user-select: none;
    -webkit-app-region: drag;
}

#windowBar_t {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.07em;
    font-weight: bold;
    padding-left: 0.8%;
}

#windowBar_ts {
    color: #636363;
    padding-left: 1%;
}

#windowBar_a {
    position: absolute;
    right: 0;
    height: 100%;
    width: 4.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-app-region: no-drag;
}

#windowBar_a i {
    width: 40%;
    height: 100%;
    transition: color 0.1s;
    display: flex;
    align-items: center;
}

#windowBar_a .fa-window-minimize {
    position: relative;
    top: -19%;
    font-size: 1.2em;
    font-weight: bold;
}

#windowBar_a .fa-window-minimize:hover {
    color: #0075ff;
}

#windowBar_a .fa-xmark {
    position: relative;
    top: 5%;
    font-size: 1.3em;
}

#windowBar_a .fa-xmark:hover {
    color: red;
}
  
#cAlert {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 0;
    z-index: 10;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
}

#cAlertBox {
    display: flex;
    width: 55%;
    height: 30%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 3px;
    border: 1px solid black;
    font-weight: bold;
}

#cAlertOK {
    width: 20%;
    height: 17%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4677b4;
    color: white;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
}

.widget {
    position: relative;
    width: 50%;
    height: 84vh;
    display: flex;
    flex-direction: column;
    z-index: 1;
    color: white;
    background-color: #1f222ede;
    padding: 1.5% 3%;
    margin-top: 3%;
    border-radius: 1vh;
    border-image: linear-gradient(90deg, #00000000, #5a5a5a49, #ffffff, #5a5a5a49, #00000000) 30;
    border-width: 2px;
    border-style: solid;
    border-left: none;
    border-right: none;
}

.widget_mainp {
    position: relative;
    width: 100%;
    height: 66vh;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    padding: 0.8vh 2.5% 0 0;
    left: 2%;
    transition: 0.2s filter linear;
    filter: blur(5px);
}

.title {
    position: relative;
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 3%;
    font-size: 1.3em;
    font-family: 'Trebuchet MS', sans-serif;
}

#applywrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    transition: 0.2s filter linear, color 0.2s;
    filter: blur(5px);
}

#apply {
    color: white;
    cursor: pointer;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
    padding: 0 2%;
}

#apply:hover {
    color: #0075ff;
}

.el {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    line-height: 130%;
    width: 100%;
}

.gr_title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 7%;
}

.gr_title::before {
    content: "";
    position: absolute;
    top: -20%;
    width: 100%;
    height: 1px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
}

.gr_title span {
    position: relative;
}

.gr_title span::before {
    content: "";
    position: absolute;
    top: 0%;
    right: -20%;
    height: 130%;
    width: 140%;
    border: 1px solid white;
    box-sizing: border-box;
    border-top: none;
    border-radius: 0 0 0.7vh 0.7vh;
}

.gr_title_2 {
    margin-top: 5%;
}

.el_1 {
    width: 37%;
}

.el_2 {
    width: 23%;
}

.el_3 {
    width: 40%;
}

.el_2, .el_3 {
    margin-left: 2.5%;
}

.el_1_url {
    width: 37%;
}

.el_2_url {
    width: 63%;
}

.el_2_b {
    width: 40%;
    position: relative;
    left: 9%;
    top: 23%;
    font-size: 1.4em;
}

.el_3_b {
    width: 23%;
    position: relative;
    left: -7%;
}

.el_2_b span {
    padding: 3%;
    transition: 0.2s color;
}

.el_2_b span:hover {
    color: #0075ff;
}

#inp_url {
    width: 97%;
}

#inp_scr0 {
    width: 20%;
}

#inp_pos0, #inp_pos1, #inp_siz0, #inp_siz1, #inp_opa0, #inp_zoo0, #inp_ofx0, #inp_ofy0, #inp_rou0, #inp_bow0 {
    width: 55%;
}

#inp_opa1, #inp_zoo1, #inp_ofx1, #inp_ofy1, #inp_rou1, #inp_bow1 {
    width: 100%;
}

.visibility {
    height: 5vh;
    justify-content: left;
}

.vis_title {
    height: 100%;
    display: flex;
    flex-direction: column;
    line-height: 140%;
}

.vis_title span {
    display: flex;
    align-items: center;
}

.visibility .el_2 div {
    height: 125%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 48%;
    height: 5vh;
}
  
.checkk { 
    opacity: 0;
    width: 0;
    height: 0;
    width: 100%;
    height: 100%;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    width: 100%;
    height: 100%;
    border-radius: 4vmin;
}
  
.slider:before {
    position: absolute;
    content: "";
    width: 2.6vw;
    height: 75%;
    left: 7%;
    bottom: 13%;
    background-color: white;
    border: 1px solid black;
    box-sizing: border-box;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
}
  
.checkk:checked + .slider {
    background-color: #0075ff;
}
  
:checked + .slider:before {
    -webkit-transform: translateX(200%);
    -ms-transform: translateX(200%);
    transform: translateX(200%);
    border: none;
}

.apprnc {
    margin-top: 10vh;
}

.appearance .el_3 input {
    height: 10%;
}

.appearance .el_3 span {
    width: 100%;
}

#inp_boc0 {
    padding: 0 0;
    margin: 0 0;
    border: none;
    width: 62.7%;
    height: 14.5%;
}

/*-------------- Scrollbar --------------*/
::-webkit-scrollbar {
    max-width: 10px;
    min-width: 7px;
    width: 1vw;
}
::-webkit-scrollbar-track {
    background: #646464;
    border-radius: 2vmin;
}
::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 2vmin;
    box-sizing: border-box;
}
::-webkit-scrollbar-thumb:hover {
    border: 3px solid black;
    border-left: none;
    border-right: none;
    border-radius: 5vmin;
}

/*-------------- Carousel --------------*/
#carousel {
    height: 5vh;
    width: 100%;
    perspective: 20vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
}
#carousel figure {
    margin: 0;
    width: 20%;
    height: 98%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}
#car_c * {
    width: 98.5%;
    height: 100%;
    box-sizing: border-box;
    padding: 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    backface-visibility: hidden;
    cursor: pointer;
    user-select: none;
}
#car_c *:not(:first-of-type) {
    position: absolute;
    left: 0;
    top: 0;
}
#car_arr0, #car_arr1 {
    cursor: pointer;
    user-select: none;
    font-weight: bold;
    color: white;
    transition: color 0.2s;
}
#car_arr0:hover, #car_arr1:hover {
    color: #0075ff;
}
#car_sel {
    cursor: pointer;
    color: white;
    transition: color 0.2s;
}
#car_sel:hover {
    color: #0075ff;
}
#car_sel_mwrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5vh;
    left: 0;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
}
#car_sel_menu {
    background-color: #555555;
    font-size: 0.8em;
    padding: 0 0.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 0.5vw;
}
#car_sel_menu div {
    width: 100%;
    padding: 0.2vh 0.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#car_sel_menu div:not(#car_sel_menu div:last-child) {
    border-bottom: 1px solid white;
}